[Unit]
Description=Graphing Backend for openITCOCKPIT
After=docker.service
Requires=docker.service
Requisite=docker.service

[Service]
Restart=always
RestartSec=60
Type=simple

WorkingDirectory=/opt/openitc/docker/container/graphing
ExecStart=/usr/bin/docker-compose up --remove-orphans --abort-on-container-exit --no-build --force-recreate
ExecStop=/usr/bin/docker-compose down

[Install]
WantedBy=docker.service
